<div class="vkr-url-wrapper">
<style>
</style>
    {% if avatar %}
        <a href="{{ url }}"><img class="avatar" src="{{ avatar }}" ></a>
    {% endif %}
    <div class="desc-wrapper">
        <a href="{{ url }}">{{ title }}</a>
        <hr />
        <div class="desc">{{ desc }}</div>
    </div>
</div>